
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #deec90;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}


main {
    padding: 30px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

figure {
    margin: 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}


@media (min-width: 772px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    figure {
        border-radius: 50%;
    }

    figure:last-of-type {
        grid-column: span 2;
    }
}


@media (min-width: 992px) {
    figure {
        border-radius: 5%;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    figure:nth-child(3n) {
        grid-column: span 2;
    }
}


@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


@media (prefers-color-scheme: dark) {
    figure {
        background-color: #333;
        color: #f0e68c;
        border-color: #000;
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
}
